

.bigboi{
  margin: 0;
  padding: 0;
  height: 100%;
}

.label-text{
  color: black;
  letter-spacing: 1px;
  font-weight: bold;
}

.form-group{
  padding-bottom: 1rem;
}

.form-background{
  border: 1px white;

  border-radius: 2rem;
}
