@import "../../../styles/abstracts/variables";
.special-fade{
  background: linear-gradient(to bottom,  rgba(255, 255, 255, 1) 10%, rgba(233, 233, 233, 0) 80%);
}
.navbar{
  font-family: "Franklin Gothic Medium";
}
.navbar-nav{
  //margin-right: 4%;
}
.nav-link{
  color: black;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.navbar-brand{
  color: $l_gray;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.mr-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
}
.mr-2{

}
.navbar-toggler{
 position: fixed;
  z-index: 999;
  right: 5%;

  color: white;
}

.navbar-collapse{
  z-index: 999999999999999999;
}

@media screen and (max-width: 990px) {
  .navbar-collapse{
    margin-top: 10rem;
    display: flex!important;
  }

  .navbar{
    display: flex;
  }

  .navbar-brand{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
