<div class="myContainer">
  <div class="row bigboi d-flex justify-content-center align-items-center">
    <div class="col-sm-6 d-flex justify-content-center align-items-center">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input #userName  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="Enter email">

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input #userPassword required type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="button-group d-flex justify-content-between">
          <input type="button" class="btn btn-primary" value="Log in"  (click)="loginService.login(userName.value, userPassword.value)">

          <button  class="btn btn-danger"
          (click)="loginService.logout()">Back</button>
        </div>
      </form>
    </div>

    <div class="col-sm-6 d-flex justify-content-center align-items-center bckgrnd">
    </div>

  </div>

</div>

