d.flex{
  display: flex;
  flex-grow: 1;
  align-self: center;
  align-content: center;
  align-items: center;
}

.card-group{
  flex-wrap: nowrap;
}

.container{
  display: flex;
  flex-grow: 1;
}
@media screen and (max-width: 990px) {
  .centerMe{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
