

.container{
  background: white;
  border-radius: 2rem;
  border:none;
}

.vr{
  padding: .4px;
  opacity: .8;
}

@media screen and (max-width: 990px) {
 html,body{
   height: 100%;
   width: 100%;
 }
  .container{

  }
}
